<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <div>
        <div class="container">
            <div class="post">
                <img src="{{ Post.new_post.url }}" alt="Post Image">
                <p>{{ post.caption }}</p>
                <p>Posted by: {{ post.user.username }}</p>
                <!-- Add more details about the post here, like comments, likes, etc. -->
            </div>
        </div></div>
    
</body>
</html>